# SPDX-License-Identifier: Apache-2.0
# Copyright Contributors to the ODPi Egeria project.
#
# Link to help info - https://git-scm.com/docs/gitignore
#

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Maven
target*
dependency-reduced-pom.xml
core*.dmp
pom.xml.releaseBackup

# IntelliJ
*.iml
**.iml
*.ipr
*.iws
.idea
venv

# Eclipse
.cache
.classpath
.project
.checkstyle

.settings
.externalToolBuilders
maven-eclipse.xml

#Python
*.pyc

# review board
.reviewboardrc

# Scala-IDE specific
.cache-main
.cache-tests

# DrawIO temporary files
*.dtmp
*.bkp

# emacs files
*#
*~

# Mac OS
__MACOSX
*.dylib

# specific Egeria config files
omag.server.*.config
omag.server.*.auditlog/**
*.registrystore
keystore_*/**

# Conformance Test Suite results for Egeria
*.testlab.results
openmetadata_cts_summary.json
profile-details/*.json
test-case-details/*.json

# Dynamic data used by egeria
data/**

# other files
.DS_Store
*.swp
.java-version
*.graphml

# Ignore Lineage repository
egeria-lineage-repositories/**

# Ignore local graph repo
*-graph-repository/**

# Ignore archives if they are in the top level directory
/*.omarchive

# Ignore report output
component-id-report.md
survey-report*.md
valid-values-report*.md
surveys/*
X*GUIDMap.json
Used*GUIDMap.json

# Ignore any json files generated during junit
open-metadata-resources/open-metadata-archives/design-model-archives/*.json

# Ignore Subject Area OMAS older Generated output so it is not checked in.
open-metadata-implementation/access-services/subject-area/subject-area-server/src/main/java/org/odpi/openmetadata/accessservices/subjectarea/generated/**
open-metadata-implementation/access-services/subject-area/subject-area-server/src/test/java/org/odpi/openmetadata/accessservices/subjectarea/generated/**

# Ignore fvt Generated output
open-metadata-test/open-metadata-fvt/open-types-fvt/open-types-test/src/**

# Ignore Deployment / Samples Generated content
open-metadata-resources/open-metadata-deployment/sample-data/coco-pharmaceuticals/cache/**
open-metadata-resources/open-metadata-deployment/sample-data/coco-pharmaceuticals/*.retry
open-metadata-resources/open-metadata-deployment/sample-data/coco-pharmaceuticals/metadata/ibm-igc/generated_*

# Ignore UI downloaded components
open-metadata-implementation/user-interfaces/ui-chassis/ui-chassis-spring/src/main/resources/public/**
open-metadata-implementation/user-interfaces/ui-chassis/ui-chassis-spring/tools/**
open-metadata-implementation/user-interfaces/ui-chassis/ui-chassis-spring/src/main/static/node_modules/**
open-metadata-implementation/user-interfaces/ui-chassis/ui-chassis-spring/src/main/static/package-lock.json

# Ignore private maven repo (jenkins)
.repository

# exclude temporary lock files
*.lock
log
# m2 repo used by linux foundation build
**/m2repo*/**

# ignore github pages build file and site.
Gemfile

# vscode editor
**/.vscode*/**
**/.factorypath
**/**.code-workspace

# Jupyter notebook temp/update files
**/.ipynb_checkpoints

# Java core files
Snap*.trc
javacore*.txt
jitdump*dmp

# License files (generated)
THIRD_PARTY*.txt

# Local test files
extra/**
lib/**

# gradle
!gradle/**
.gradle/
build/
*.gz
*.tmp
/.run/
