/* SPDX-License-Identifier: Apache-2.0 */
/* Copyright Contributors to the ODPi Egeria project. */



.rex-container {
  position         : absolute;
  top              : 0px;
  left             : 260px;
  height           : 100%;
  display          : flex;
  flex-flow        : column;
  /*border-style   : solid;
  border-width     : 3px;
  border-color     : rgb(72, 205, 209) ;*/
}

.rex-top {
  display          : flex;
  flex-flow        : row;
  width            : 100%; 
  overflow         : none;
  padding          : 10px;
  font-size        : 10px;
  background-color : rgb(240,240,240);  
  color            : 'black';
  /*border-style   : solid;
  border-width     : 3px;
  border-color     : purple ;*/
}

.rex-top-left {
  flex             : 0 0 auto;
  /*border-style   : solid;
  border-width     : 3px;
  border-color     : rgb(55, 0, 255) ;*/
}

.rex-top-middle {
  flex             : 0 0 auto;
  /*border-style   : solid;
  border-width     : 3px;
  border-color     : rgb(255, 0, 170) ;*/
}

.rex-top-right {
  flex             : 0 0 auto;
  /*border-style   : solid;
  border-width     : 3px;
  border-color     : rgb(255, 0, 0) ;*/
}


.rex-content {
  flex             : 2;
  display          : flex;
  flex-flow        : row;
  width            : 100%;
  padding          : 10px;
  font-size        : 10px;
  background-color : rgb(240,240,240);
  color            : 'black';
}

.rex-lhs {
  flex             : 0 0 auto;
  width            : 450px;
  overflow         : auto;
  padding          : 0px 10px 10px 10px;
  font-size        : 10px;
  background-color : rgb(240,240,240);    
  color            : 'black';
  /*border-style   : solid;
  border-width     : 3px;
  border-color     : green ;*/
}

.rex-rhs {
  flex             : 1 1 auto;
  padding          : 10px;
  font-size        : 10px;
  background-color : white;
  background       : 'white';
  color            : 'black';
  /*border-style   : solid;
  border-width     : 3px;
  border-color     : orangered ;*/
}

.descriptive-text {
  font-size        : 12px;
}

.graph-control-button {  
  height           : 40px;
  width            : 100px;
  background-color : rgb(180,180,180);  
}

.title {
  padding          : 20px;
  font-size        : 20px;
}