/* SPDX-License-Identifier: Apache-2.0 */
/* Copyright Contributors to the ODPi Egeria project. */

.connection-controls {
  text-align: right;
}

.button {
  width      : 100px;
  height     : 25px;
  padding    : 10px;
  font-size  : 10px;
  background :'white';
  color      : 'black';
}