/* SPDX-License-Identifier: Apache-2.0 */
/* Copyright Contributors to the ODPi Egeria project. */


.instance-details-container {
  text-align        : left;
  padding           : 5px;
  background-color  : rgb(240, 240, 240);
  font-size         : 12px;
  padding           : 5px;
}

.instance-details-item {
  padding           : inherit;
}

.details-sublist {
  margin-left       : 5px; 
  padding           : inherit;
}

.details-sublist-item {
  padding           : inherit;
}


.linkable {
  background-color : #CCCCCC;
  color            : black;
  cursor           : pointer;
  padding          : 0px;
  width            : 200px;
  border           : none;
  text-align       : left;
  outline          : none;
  font-size        : 12px;
}

.collapsible {
  background-color : #CCCCCC;
  color            : black;
  cursor           : pointer;
  padding          : 5px;
  width            : 300px;
  border           : none;
  text-align       : left;
  outline          : none;
  font-size        : 12px;
}

.content {
  padding          : 10px 0px 10px 10px;
  display          : none;
  overflow         : hidden;
  background-color : #CCCCCC;
}

.highlight {
  background-color : #EEEEEE;
  color            : black;
  padding          : 5px;
  width            : 300px;
  border           : 2px;
  text-align       : left;
  outline          : none;
  font-size        : 12px;
}