/* SPDX-License-Identifier: Apache-2.0 */
/* Copyright Contributors to the ODPi Egeria project. */
h1 {
  color: green;
}

body {
  text-align: center;
  margin: auto;
}

.card-border {
  border: 1px solid grey;
  background-color: #edf5ff;

}
