/* SPDX-License-Identifier: Apache-2.0 */
/* Copyright Contributors to the ODPi Egeria project. */
.shaker {
  animation: shake 0.5s;
  animation-iteration-count: 1;
}

.my-container {
  display: flex;
  justify-content: space-evenly;
  border-style: solid;
  border-width: 5px;
  border-color: #e0e0e0;
  height: 70px;
}
.my-item {
  margin: 10px;
  font-weight: bold;
}

.actions-container {
  height           : 100%;
  display          : flex;
  flex-flow        : row;
}
.actions-item {
  border-style: solid;
  border-width: 5px;
  border-color: #e0e0e0;
}

.top-search-item {
  margin: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #e0e0e0;
}
.top-search-container {
  height           : 100%;
  display          : flex;
  flex-flow        : row;
}
.top-search-item {
  margin: 10px;
}
.search-container {
  height           : 100%;
  display          : flex;
  flex-flow        : column;
}
.search-item {
  margin: 10px;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
