/* SPDX-License-Identifier: Apache-2.0 */
/* Copyright Contributors to the ODPi Egeria project. */

.retrieval-controls {
  display          : flex;
  flex-flow        : column;
  width            : 400px;
  height           : 200px;
  text-align       : right;
  /*border-style   : solid;
  border-width     : 3px;
  border-color     : rgb(236, 165, 12) ;*/
}

.retrieval-fields {
  text-align       : right;
  /*border-style   : solid;
  border-width     : 3px;
  border-color     : rgb(12, 175, 240) ;*/
}

.retrieval-group {
  margin-top       : auto;
  margin-left      : auto;
  margin-right     : 0px;
  margin-bottom    : 0px;
}

.retrieval-button {
  margin-top       : auto;
  margin-left      : auto;
  margin-right     : 5px;
  margin-bottom    : 5px;
  height           : 40px;
  width            : 100px;
  background-color : rgb(180, 180, 180);
}

.search-text {
  width            : 250px;
}

.search-limit-text {
  width            : 50px;
}