<!-- SPDX-License-Identifier: CC-BY-4.0 -->
<!-- Copyright Contributors to the ODPi Egeria project. -->
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Roboto:400,500" rel="stylesheet">
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" href="./assets/css/style-sub.scss">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style-sub.scss?v=' | append: site.github.build_revision | relative_url }}">


  </head>


  <div class="container">
      <div class="sideBar">
  <div class="sublogo"><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p></div>
    <div class="sideBartext">Open Metadata and Governance</div>
    <a href="{{ site.github.repository_url }}"><button>View on Github</button></a>
<div class="links">
  <a href="/egeria/">Home</a>
  <a href="/egeria/Community-Guide.html">Contribute</a>
  <a href="/egeria/open-metadata-resources/open-metadata-tutorials">Tutorials</a>
  <a href="/egeria/open-metadata-resources/open-metadata-samples">Samples</a>
  <a href="/egeria/open-metadata-publication/website/open-metadata-glossary.html">Glossary</a>
  <a href="/egeria/Content-Organization.html">Site</a>
  <a href="/egeria/open-metadata-implementation">Design</a>
  <a href="/egeria/open-metadata-publication/website">About</a>
</div></div>

      <div class="content">

  {{ content }}

</div>
</div>
</html>
