/* SPDX-License-Identifier: Apache-2.0 */
/* Copyright Contributors to the ODPi Egeria project. */

.resource-controls {
  text-align        : right;
}

.platform-selector {
  width             : 200px;
}

.server-selector {
  width             : 200px;
}