/* SPDX-License-Identifier: Apache-2.0 */
/* Copyright Contributors to the ODPi Egeria project. */

.connection-controls {
  text-align        : right;
}

.connection-button {
  height            : 40px;
  width             : 100px;
  font-size         : 10px;
  background-color  : rgb(180,180,180);
  color             : 'black';
}