# SPDX-License-Identifier: Apache-2.0
# Copyright Contributors to the ODPi Egeria project.
---
name: "Check documentation links"

on:
  push:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  linkChecker:
    runs-on: ubuntu-latest
    if: startsWith(github.repository,'odpi/')
    steps:
      - uses: actions/checkout@v3.5.3
      - name: Link Checker
        uses: lycheeverse/lychee-action@v1.7.0
        with:
          # Can switch to true once we run clean
          fail: false
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
