# SPDX-License-Identifier: Apache-2.0
# Copyright Contributors to the ODPi Egeria project.
---
name: "Verify PR v5"

on:
  pull_request:
    branches: [main, egeria-release-5*]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    name: "Verify PR v5"
    if: startsWith(github.repository,'odpi/')
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: gradle/wrapper-validation-action@v2
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Build with Gradle
        uses: gradle/gradle-build-action@v3
        with:
          # Only cache for main build
          cache-read-only: true
          arguments: |
            build
            --scan
      - name: Upload Test coverage report
        uses: actions/upload-artifact@v4.4.0
        with:
          name: Jacoco Coverage Report
          path: build/reports/jacoco/codeCoverageReport
      - name: Upload Log of any dependency failures
        uses: actions/upload-artifact@v4.4.0
        with:
          name: Dependency Analysis Report (on failure)
          path: build/reports/dependency-analysis/build-health-report.txt
          if-no-files-found: ignore
